.background {
  position: relative; 
  background-image: url('blur.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.video-background {
    border-radius: 50%; /* Makes the video circular */
    width: 355px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    animation: slideX 10s infinite linear;
    transform-origin: center center;
}

@keyframes slideX {
  0% {
    transform: translateX(0);
 }
  25% {
    transform: translateX(-20%);
 }
 50%{
  transform: translateX(0);
 }
 75%{
  transform: translateX(20%);
 }
 100%{
  transform: translateX(0);
 }
}

.flex{
  margin-top: 40px;
  text-align: center;
  margin-bottom: 10rem;
  display: block;
  justify-content: center;
  align-items: center;
}

.mont {
  font-family: "Montserrat", sans-serif;
 }
 
.flex p{
  font-weight: bold;
}

.heading {
  font-family: "Playfair Display", serif;
  color: rgb(0, 0, 0);
  margin-right: 12%;
  text-wrap: nowrap;
  text-align: center;
  z-index: 2;
}

@media (min-width: 768px) {
  .background {
    background-size: cover;
    background-repeat: no-repeat;
  }
}